<h1>{{post?.title | uppercase}}</h1>
<p>{{post?.description}}</p>

<img src="{{post?.imagePath}}"
class="img-responsive"/>

<p>Author : {{post?.author}}</p>
<p>Date : {{post?.datetimerelated | date}}</p>


<button type="button" (click)="likePost()" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-thumbs-up"></span> (Likes:{{post?.numberOfLikes}})
</button> <br/><br/>
<button class="btn btn-success" (click)="onEdit()">Edit</button> |
<button class="btn btn-danger" (click)="onDelete()">Delete</button>
